
*{background-color:black;text-align: center; font-family:'Times New Roman', Times, serif; font-weight: 1000;font-style: italic;}
h1, p, i {background-color: red;}
.ozone{
background-color: green;
}
#ozoneIII{color:blanchedalmond;}
